*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }
body{
    background-color: #B784B7;
}

nav {
 background-color:#8E7AB5;
}

.sobreMi{
    display: flex;
    padding: 5%;
    align-items: center;

}

h2{
    text-align: center;
}

.textoSobreMi{
   padding: 10%;
}

.sobreMiTexto{
    background-color: #B784B7;
}

footer{
    background-color: #8E7AB5;
}